<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <header>
      <% include ./partials/__header %>
    </header>

    <h2>Shortened URL</h2>
    <p><%= shortUrl + ' ' + fullUrl %> </p>
  </body>
</html>
