<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <header>
      <% include ./partials/__header %>
    </header>

    <h2>Shortened URL: <%= shortUrl %></h2>
    <form style="display:inline" method="POST" action="/urls/<%= shortUrl %>/update">
      <input name="new_URL" value="<%= fullUrl %>">
      <button>Update</button>
    </form>
  </body>
</html>
