<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
  </head>

  <body style="font-size:20px; padding:50px;">
    <header>
      <% include ./partials/__header %>
    </header>

    <h2>Shortened URL: <%= url.id %></h2>
    <form style="display:inline" method="POST" action="/urls/<%= url.id %>/update">
      <input name="new_URL" value="<%= url.fullUrl %>">
      <button>Update</button>
    </form>
  </body>
</html>
