<!DOCTYPE html>
<html>

<head>
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
  <header>
    <% include ./partials/__header %>
  </header>

  <h2>TINY URLS</h2>
  <% if(user) { %>

    <% for(let url in urls) { %>
      <div>
        <%= url %>
          ------->
          <%= urls[url].fullUrl %>
            <a href="/urls/<%= urls[url].id %>">Edit</a>
            <form style="display:inline" method="POST" action="/urls/<%= urls[url].id %>/delete">
              <button>Delete</button>
            </form>
      </div>
    <% } %>
  <% } else { %>
    <p>Please log in or register first</p>
  <% } %>
</body>

</html>
