<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
  </head>

  <body style="font-size:20px; padding:50px;">
    <header>
      <% include ./partials/__header %>
    </header>

    <h2>Register:</h2>

    <form style="display:inline" method="POST" action="/register">
      <label for="email"> Email: </label>
      <input name="email" type="email">

      <label for="password">Password: </label>
      <input name="password" type="password">
      <button>Submit</button>

    </form>
  </body>
</html>
